<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860830358842-tppjmgee8sie3o5of8i3itrkcer2akl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860830358842-tppjmgee8sie3o5of8i3itrkcer2akl5</string>
	<key>API_KEY</key>
	<string>AIzaSyBpFTYeK8esI2XSmP1ZVnHDj5tzbNGUSGY</string>
	<key>GCM_SENDER_ID</key>
	<string>860830358842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jms35.CornellHack</string>
	<key>PROJECT_ID</key>
	<string>cornellhack-85315</string>
	<key>STORAGE_BUCKET</key>
	<string>cornellhack-85315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860830358842:ios:76718d4df9908b41</string>
	<key>DATABASE_URL</key>
	<string>https://cornellhack-85315.firebaseio.com</string>
</dict>
</plist>